@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbar but keep scroll working */

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Firefox */
html {
  scrollbar-width: none;
}

/* Internet Explorer / old Edge */
body {
  -ms-overflow-style: none;
}
